*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.signup_container{
    background-image: url(../../../assets/images/signin_page_bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup_form_box{
    height: 75%;
    width: 30%;
    border-right: 1px solid rgb(5, 219, 243);
    border-bottom: 1px solid rgb(5, 219, 243);
    box-shadow: 1px 1px 2px rgb(5, 176, 243) ;
    background-color: rgba(217, 224, 224, 0.236);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup_logo{
    color: rgb(36, 143, 205);
    filter: drop-shadow(1.5px 1.5px 1px orangered);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    margin-top: 20px;    ;
}
.already_acc{
    color: rgb(224, 223, 223);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin-top: 25px;
}
.already_signin{
    color: rgb(9, 184, 190);
    font-weight: 600;
    text-decoration: none;
    margin-left: 10px;
}
.already_signin:hover{
    text-decoration: underline;
}